.Todo{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    grid-template-columns: 4fr 2fr;
    gap: 10px;
}
.TodoItem{
    border: 2px solid black;
    /*width: 100%;*/
    margin: 5px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.TodoItem label{
    display: flex;
    overflow-wrap: anywhere;
}
.TodoItem .done{
    text-decoration: line-through;
}
.TodoItem button{
    margin-left: 5px;
    background: none;
    border: 2px solid red;
    color: red;
}
.InputForm{
    margin-top: 5px;
}
.InputForm textarea{
    border: 2px solid black;
    resize: none;
    padding: 5px;
    width: 95%;
}
.InputForm button{
    width: 100%;
    background: none;
    border: 2px solid black;
    padding: 5px;
}
button:hover, label, input{
    cursor: pointer;
}
h2{
    text-align: center;
}
